:host {
  display: block;
  height: 100vh;
  text-align: center;
  color: #fff;
  background-image: url('http://funnyneel.com/manual/bean/Funny-face-mr-bean%20(3).jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

h1 {
  margin: 0;
}
