:host {
    display: block;
    height: 100vh;
    text-align: center;
    background-image: url(https://i.ytimg.com/vi/GHhFtkGfaWU/hqdefault.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

h1 {
    margin: 0;
}
